<div ng-controller="DemoApp.Controllers.HomeController as homeController">
    {{Message}}
    <br />
    {{homeController.Message}}
    <br />
    {{companies.length}}
    <div ng-repeat="company in companies">
        {{company.name}}
        <div ng-repeat="employee in company.employees">
            {{employee.name}}
        </div>
        <br />
    </div>

    <ul></ul>
    <input ng-model="homeController.E_Name" placeholder="Name" />
    <select ng-model="homeController.E_CompanyId">
        <option ng-repeat="company in companies" value="{{company.id}}">{{company.name}}</option>
    </select>

    <button ng-click="homeController.addEmployee()">Add</button>

    <div class="jumbotron" ng-show="homeController.newEntityName != null && homeController.newEntityName != ''">
        {{homeController.newEntityName}}
    </div>
</div>