<div ng-controller="DemoApp.Controllers.HomeController as homeController">
    {{Message}}
    <br />
    {{homeController.Message}}
    <br />
    {{Companies.length}}
    @section SPAViews {
        @Html.Partial("_Home")
    }
    <div ng-repeat="company in Companies">
        {{company.name}}
        <div ng-repeat="employee in company.employees">
            {{employee.name}}
        </div>
    </div>

    <ul></ul>
    <input ng-model="homeController.E_Name" placeholder="Name" />
    <select ng-model="homeController.E_CompanyId">
        <option ng-repeat="company in Companies" value="{{company.id}}">{{company.name}}</option>
    </select>

    <button ng-click="homeController.addEmployee()">Add</button>

    <div class="jumbotron" ng-show="homeController.NewEmployee != null">
        {{homeController.NewEmployee.Name}}
    </div>
</div>